@charset "UTF-8";

body, #root{
    
    background-color: #fefefe;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.list{
    margin: 12px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input[type="text"]{
    width: 90%;
    padding: 15px 25px;
    box-shadow: 10px 10px 15px #00000011;
    margin-bottom: 15px;
    border: none;
    outline: none;
}
h2{
    text-align: center;
    color: deepskyblue;
}
button{
    width: 90%;
    padding: 20px 15px;
    text-align: center;
    background-color: #9900ff;
    color: #fff;
    font-weight: 700;
    border: none;
    display: inline-block;
    margin-bottom: 15px;
}